body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(10, 26, 67);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
}

.logo{
    color: white;
    font-size: 24px;
    font-weight: bolder;
}
ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}